@{
    ViewData["Title"] = "About Information";
}

<div>
    <div class="logo">
        <img src="~/img/azure.svg" alt="..." />
    </div>
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h2>Demo application to learn Azure</h2>
    <br>
    <p>Here will be information about author</p>

</div>
