@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Веб-додаток ASP.Net Core</h1>
    <h2>Технологія MVC з публікацією на Microsoft Azure</h2>
    <hr />
        <img src="img/azure.svg" alt="..."/>
    <hr />
    <p style="font-weight: bold; color: red">Editinal text</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
